In [13]:
import pandas as pd
import numpy as np
from itertools import combinations,chain

In [14]:
df = pd.read_csv('GroceryStoreDataSet.csv',header= None,names=['items'])

In [15]:
df

                             items
0               MILK,BREAD,BISCUIT
1    BREAD,MILK,BISCUIT,CORNFLAKES
2              BREAD,TEA,BOURNVITA
3             JAM,MAGGI,BREAD,MILK
4                MAGGI,TEA,BISCUIT
5              BREAD,TEA,BOURNVITA
6             MAGGI,TEA,CORNFLAKES
7          MAGGI,BREAD,TEA,BISCUIT
8              JAM,MAGGI,BREAD,TEA
9                       BREAD,MILK
10  COFFEE,COCK,BISCUIT,CORNFLAKES
11  COFFEE,COCK,BISCUIT,CORNFLAKES
12          COFFEE,SUGER,BOURNVITA
13               BREAD,COFFEE,COCK
14             BREAD,SUGER,BISCUIT
15         COFFEE,SUGER,CORNFLAKES
16           BREAD,SUGER,BOURNVITA
17              BREAD,COFFEE,SUGER
18              BREAD,COFFEE,SUGER
19      TEA,MILK,COFFEE,CORNFLAKES

In [16]:
x=[i.strip().split(',') for i in df['items']]

In [17]:
x

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [18]:
def c1(df):
    x=[i.strip().split(',') for i in df['items']]
    l=[]
    for t in x:
        for j in range(len(t)):
            l.append(t[j])
    return list(set(l))

In [19]:
def freq_itemset(c1,sup): #for l1
    count={}
    freq=[]
    for i in range(len(c1)):
        ct=0
        for j in range(len(x)):
            if(c1[i] in x[j]):
                ct=ct+1
                count[c1[i]]=(ct)
    freq=[i for i in count if count[i]>=sup]    
    return freq

In [20]:
def freq_items(ctuple,k,sup):
    count={}
    freq=[]
    c2_set=[set(i) for i in ctuple]
    for i in range(len(ctuple)):
        ct=0
        for j in range(len(x)):
            comb_x=list(combinations(x[j],3))
            comb_x=[set(i) for i in comb_x]
            if(c2_set[i] in comb_x):
                ct=ct+1
                count[ctuple[i]]=(ct)
    freq=[i for i in count if count[i]>=sup]
    return freq

In [21]:
def check_subsets(union,l1_set):
        s = list(union)
        pset=list(chain.from_iterable(combinations(s, r) for r in range(1,2)))
        pset=[set(i) for i in pset]
        return(np.all(pset) in l1_set)

In [22]:
def count_equal(A,B):
    count=0
    i=3
    for i in A:
        for j in B:
            if(i==j):
                count+=1
    return(count)

In [23]:
def candidate_set(freq,i):
    clist=[]
    freq_set=[set(i) for i in freq]
    for j in freq_set:
            c=set([])
            for k in freq_set:
                if(j!=k):
                    if(i>2):
                        if(count_equal(j,k)>=(i-2)):
                            if(check_subsets(j.union(k),freq_set)):
                                if(c.union(j.union(k)) not in clist):
                                    clist.append(c.union(j.union(k)))                           

                    else:
                        clist=list(combinations(freq,i))
    return clist

In [24]:
def apriori(df,sup):
    c=c1(df)
    lk=freq_itemset(c,sup)
    i=2
    l=[]
    while(len(lk)!=0):
        ck= candidate_set(lk,i)
        if(i>=2):
            lk= freq_items(ck,i,sup)
            l.append(lk)
        i+=1
    return(l)